{%- if settings.e_swatch -%}
<ul class="product-card__swatch list-unstyled {% if settings.swatch_color %} sw_color{% endif %} {% if settings.swatch_color_circle %}round-color{% endif %}">
  {%- liquid
    assign counter = 0
    assign arrayVariants = ''
  -%}
  {%- for option in product.options_with_values -%}
  {%- if option.name == "Color" or option.name == "Colour" -%}
  
  {%- for value in option.values -%}
    {%- if counter < 4 -%}
    
    {%- comment -%} Find the first variant with this color value {%- endcomment -%}
    {%- assign color_variant = null -%}
    {%- for variant in product.variants -%}
      {%- if variant.option1 == value or variant.option2 == value or variant.option3 == value -%}
        {%- assign color_variant = variant -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
    
    {%- if color_variant and color_variant.image != blank -%}
    {%- unless arrayVariants contains color_variant.image -%}
    {%- assign arrayVariants = arrayVariants | append: color_variant.image -%}
    
      <li  
      class="js-swatch-card-item {% if color_variant == product.selected_or_first_available_variant %} active {% endif %}" 
      data-url="{{ color_variant.url | within: collection }}" 
      data-id="{{ color_variant.id }}" 
      data-image="{{ color_variant.image | image_url: width: 720 }}" 
      data-price="{{ color_variant.price }}">
        {%- if settings.swatch_color -%}
          {%- comment -%} Pull image from Color metaobject using metafield {%- endcomment -%}
          {%- assign swatch_image = null -%}
          {%- assign color_handle = value | handleize -%}
          {%- assign metaobject_ref = 'shopify--color-pattern/' | append: color_handle -%}
          {%- assign color_metaobject = metaobject_ref | metaobject -%}
          
          {%- if color_metaobject.image -%}
            <span style="background-size: cover; background-position: center; background-image: url('{{ color_metaobject.image | image_url: width: 64 }}');"></span>
          {%- elsif color_variant.image -%}
            <span style="background-size: cover; background-position: center; background-image: url('{{ color_variant.image | image_url: width: 64 }}');"></span>
          {%- else -%}
            <span class="st-color-{{ value | escape | downcase }}" style="background-color:{{ value | escape | downcase }};"></span>
          {%- endif -%}
        {%- else -%}
          <img data-sizes="auto" 
            src="{{ color_variant.image | image_url: width: 100, height: 100 }}" 
            class="lazyload" 
            data-src="{{ color_variant.image | image_url: width: 100, height: 100 }}" 
            alt="{{ color_variant.image.alt }}" 
            loading="lazy"
            width="{{ color_variant.image.width }}"
            height="{{ color_variant.image.height }}"
          />
        {%- endif -%}
      </li>
      {%- assign counter = counter | plus: 1 -%}
    {%- endunless -%}
    {%- endif -%}
    
    {%- else -%}
      <li><a class="small" href="{{ product.url | within: collection }}" title="{{ 'products.product.view_more' | t }}">All ({{ product.variants.size }})</a></li>
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
  
  {% endif %}
{%- endfor -%}
</ul>
{%- endif -%}
